{% extends 'base.html' %}

{% block body_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 jumbotron">
                <div class="text-center">
                    <h1 id="id_welcome_header">Django Dungeon</h1>
                    <p id="id_welcome_description" class="lead">Create, play and share text adventures.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3 id="id_new_adventure_header">Create your own adventure</h3>
                <form action="/new_adventure/">
                    <input id="id_new_adventure_button" type="submit" class="btn btn-lg btn-primary" value="New Adventure"/>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <table id="id_adventure_table" class="table">
                    {% for adventure in adventures %}
                        <tr><td>{{ adventure.title }}</td></tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}