{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 jumbotron">
                <div class="text-center">
                    <h1>New Adventure</h1>
                    <p class="lead">Enter a title to get started</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% crispy form %}
        </div>


</body>
</html>